* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: flex;
}
.grid .grid-cell {
    flex: 1;
}
.grid .grid-cell.u-full {
    flex: 0 0 100%;
}
.grid .grid-cell.u-1of4 {
    flex: 0 0 25%;
}
.grid .grid-cell.u-1of2 {
    flex: 0 0 50%;
}
.grid .grid-cell.u-1of3 {
    flex: 0 0 33.3333%;
}

.container {
    margin: 20px 20px 0 0;
    padding: 10px;
    border: 1px solid #ff0;
    background: #ccc;
    text-align: center;
}
.grid {
    margin-left: 20px;
}